.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  transition: display 200ms linear;
}

.container_hidde {
  display: none;
}

.calculatorMessage {
  font-size: small;
}

.buttonsContainer {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  background-color: var(--secondary-background-color);
  border: none;
  height: fit-content;
  border-radius: 10px;
  outline: none;
  padding: 25px 15px;
  color: var(--primary-text-color);
  font-size: large;
}

.buttonOption {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
  padding: 30px 15px;
  background-color: var(--secondary-background-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background linear 200ms;
}

.setsContainer {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttonSet {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
  padding: 20px 15px;
  background-color: var(--secondary-background-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background linear 200ms;
}

.buttonDelete {
  background-color: #ff3e3e;
}

.buttonAccent {
  background-color: var(--primary-text-color);
}

.buttonAccent .mathSymboltText {
  color: var(--background-color);
}

.selectedOption {
  background-color: var(--primary-text-color);
}

.selectedOption .mathSymboltText {
  color: var(--background-color);
}

.buttonIcon {
  font-size: x-large;
  font-weight: bold;
  color: var(--primary-text-color);
}

.buttonOption:hover {
  background-color: var(--primary-color);
}

.buttonOption:hover .mathSymboltText {
  color: var(--primary-text-color);
}

.buttonSet:hover {
  background-color: var(--primary-color);
}

.buttonSet:hover .mathSymboltText {
  color: var(--primary-text-color);
}

.buttonOption:hover .buttonSubtitle {
  color: var(--primary-text-color);
}

.buttonSubtitle {
  font-size: small;
  font-weight: bold;
}

.mathSymboltText {
  font-size: large;
  font-weight: bold;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .container {
    gap: 20px;
  }
}
