.resultTitle {
  font-size: large;
  color: var(--primary-text-color);
  white-space: break-spaces;
  overflow: hidden;
}

.textResult {
  font-weight: 400;
  font-size: larger;
  line-height: 2.2rem;
  white-space: break-spaces;
  overflow: hidden;
}

.boldText {
  font-weight: bold;
  font-size: larger;
  line-height: 2.2rem;
  color: var(--primary-text-color);
  white-space: break-spaces;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .resultTitle {
    font-size: x-large;
  }

  .textResult {
    font-size: x-large;
  }

  .boldText {
    font-size: x-large;
  }
}
