.section {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    gap: 60px;
    margin-bottom: 20px;
}

.containerSets {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.containerResults {
    display: flex;
    flex-direction: column;
    gap: 20px;
}